<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h3>Your cart:</h3>
<table>
    <% @cart.line_items.each do |item| %>
        <tr>
            <td><%= item.quantity %>&times;</td>
            <td><%= item.product.title %></td>
            <td class="item_price"><%= number_to_currency(item.total_price) %></td>
            <td><%= button_to 'Delete', item, method: :delete, data: {confirm: 'Delete this from cart?'}%></td>
        </tr>
    <% end %>
    <tr class="total_line">
        <td colspan="3">Total</td>
        <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
    </tr>
</table>
<div id="operation">
    <%= link_to 'Back', store_path %> | 
    <%= button_to 'Empty Cart', @cart, method: :delete, data: { confirm: 'Are you sure?' }%>
</div>
